.cardWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.cardClass {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  cursor: pointer;
  width: 20rem;
}

.heading {
  font-weight: 600;
}
.logoutText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}
